:root {
  --flash-background: lime;
  --flash-color: black;
}

body {
  display: flex;
  padding: 0;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

#examples {
  flex: 1;
  height: 100vh;
  overflow: auto;
  background: black;
  margin: 0;
  padding: 1rem;
  border-radius: 0;
}

#output,
#output_html_string {
  flex: 2;
  height: 100vh;
  overflow: auto;
}

#output_html_controls {
  padding: 1rem;
  position: fixed;
}

#get_output_html_string {
  display: block;
  margin: auto;
  transition: 0.2s;
  width: 100%;
}

#get_output_html_string.hide {
  max-height: 0;
  height: 0;
  padding: 0;
  opacity: 0;
  margin: -1rem;
}

#get_output_html_string.show {
  max-height: 100vh;
}

[contenteditable]:not(.disable-hover):hover {
  border: 1px dotted white;
  cursor: text;
}

.template-instance-container {
  border: 3px solid white;
  padding: 1em;
  margin: 1em;
  position: relative;
}

.template-controls {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  text-decoration: none !important;
}

.template-instance-container:not(.disable-hover):hover .template-controls {
  display: block;
}

.template-instance-container:not(.disable-hover):hover
  .template-controls
  button {
  animation: flash-of-color 0.3s 0.3s;
}

#examples {
  /* display: grid;
  flex-grow: 1; */
  /* grid-template-columns: 1fr 1fr 1fr; */
}

#examples .delete-template,
#examples .notes {
  display: none;
}

select + pre {
  position: relative;
  margin-top: 0;
  white-space: pre-line;
  transition: max-height 300ms, padding-top 300ms;
  max-height: 0;
  overflow: hidden;
  background: lime;
  color: black;
}

select:not(.disable-hover):hover + pre,
select + pre:not(.disable-hover):hover,
select + pre:focus {
  max-height: 100vh;
  padding-top: 1rem;
}

select + pre:before {
  content: " Click here and type to edit options: (new line = new option)";
  position: absolute;
  top: 0;
  left: 0;
  background: black;
  color: white;
  font-size: xx-small;
}

.template-instance-container textarea {
  width: calc(50%);
  padding: 0;
  border: none;
  background: black;
  position: absolute;
  right: 0;
  z-index: 1;
  transition: max-height 0.2s;
  max-height: 0;
}

.template-instance-container:not(.disable-hover):hover textarea {
  transition: max-height 2s;
  max-height: 100vh;
  border: 1px dotted white;
  animation: flash-of-color 0.3s 0.3s;
}

.template-instance-container textarea:not(.disable-hover):hover,
.template-instance-container textarea:focus {
  max-height: 100%;
  padding: 8px;
  border: 1px dotted white;
}

#output_html_string,
#output_html_string pre {
  padding: 0;
  margin: 0;
  max-height: 100vh;
  overflow: auto;
}

#output_html_string pre {
  margin-top: 4rem;
}

#output_html_string pre:empty {
  pointer-events: none;
}

.flash-of-color {
  animation: flash-of-color 0.3s 0.3s;
}

/* recommended usage: animation: flash-of-color 0.3s 0.3s; */
@keyframes flash-of-color {
  50% {
    background: var(--flash-background);
    color: var(--flash-color);
  }
}

.template-generator {
  overflow: hidden;
  padding: 1rem;
}

.template-generator pre {
  overflow: scroll;
  height: 100%;
  margin: 0;
}

.template-generator pre:not(.disable-hover):hover {
  background: lime;
  color: black;
}

button i,
button b {
  background: inherit;
  color: inherit;
}
